.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  margin: 20px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 10px rgb(216, 11, 11);
  transition: 0.3s;
}
.img {
  width:250px;
  border-radius: 20px 20px 0px 0px;
}

.title {
  color: gray;
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin: 8px;
}
.title:hover {
  color: red;
  transition: 0.3s;
}

.description {
  color: gray;
  text-align: center;
  padding: 5px 5px;
  font-size: 17x;
  margin: 0;
  margin: 8px;
}